@model GameVM


@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Success"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="row pb-3">
    @foreach (var game in Model.Games)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded">
                        <img src="@game.GamePhotoURI" class="card-img-top rounded"/>
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@game.GameName</p>
                                <p class="card-title text-warning text-center">by <b>@game.GameCompanyName</b></p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center mb-0">
                                    Price: 
                                        @if (@game.GamePrice == 0)
                                        {
                                        <span >
                                            Free
                                        </span>
                                        }
                                        else
                                        {
                                        <span >
                                            @game.GamePrice.ToString("c")
                                        </span>
                                        }
                                    
                                </p>
                            </div>
                        </div>
                        <div>
                            <a asp-controller="GameActions" asp-action="Details"
                            asp-route-gameId="@game.GameId"
                            class="btn btn-primary bg-gradient border-0 form-control mb-2 mt-1">
                                Details
                            </a>
                        @{
                                bool isOwnedByUser = Model.GamesWithOwners.Any(owned => owned.GameOwnedId == game.GameId &&
                                            owned.UserOwnerName == User.Identity.Name);

                                if (isOwnedByUser)
                                {
                                    <a asp-controller="GameActions" asp-action="Play"
                                       asp-route-gameId="@game.GameId"
                                       class="btn btn-primary bg-gradient border-0 form-control">
                                        Play
                                    </a>
                                }
                                else
                                {
                                    <a asp-controller="GameActions" asp-action="GetGame"
                                       asp-route-gameId="@game.GameId" asp-route-userName="@User.Identity.Name"
                                       class="btn btn-primary bg-gradient border-0 form-control">
                                        Get
                                    </a>
                                }
                        }
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>