
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PapaSmurfie</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" type="image/png" href="~/images/smurf_favicon.png" />
    <script>
        var isAuthenticated = @User.Identity.IsAuthenticated.ToString().ToLower();
    </script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    </head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PapaSmurfie</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Customer" asp-controller="Home" asp-action="Library"
                               asp-route-userName="@User.Identity.Name">Library</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Customer" asp-controller="Social" asp-action="Index"
                               asp-route-userName="@User.Identity.Name">Social</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Customer" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @if (User.IsInRole(SD.Role_Admin))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Control Panel
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Games" asp-action="Index">Edit Games</a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                </ul>
                            </li>
                            
                        }
                        
                        <form class="d-flex" role="search" method="get" asp-controller="Home" asp-action="Search">
                            <input class="form-control me-2" type="search" placeholder="Search Game" name="query" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                     </div>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - PapaSmurfie - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @* All Chat: *@
    <button class="open-button" onclick="openForm()">Chats</button>

    <div class="chat-popup" id="chatpopup">

        <div class="tab">
            <button class="tablinks" onclick="openChatTab(event, 'allChat')" id="defaultTab">All Chat</button>
            <button class="tablinks" onclick="openChatTab(event, 'groupChat')">Group Chat</button>
        </div>
        <div id="allChat" class="tabcontent">
        <form class="form-container">
            <h1>All Chat</h1>
            

            <label for="userInput" hidden><b>Username</b></label>
            <input type="text" id="userInput" hidden/>

            

            <div class="row p-1">
                <div class="scrollable-container" >
                    <ul id="messagesList"></ul>
                    <p id="noMessagesText" class="no-messages" style="display: none;">No messages</p>
                </div>
            </div>

            <label for="messageInput" class="pb-3"><b>Message</b></label>
            <input type="text" placeholder="Type message.." id="messageInput" required></input>

            @if(Context.User.Identity.IsAuthenticated)
            {
                <input type="button" id="sendButton" value="Send Message" />
            }
            else
            {
                <p>Please <a asp-area="Identity" asp-controller="Account" asp-action="Login">log in</a> to use chat.</p>
                <input type="button" id="sendButton" value="Send Message" disabled="disabled" />
            }
            
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
        </div>

        <div id="groupChat" class="tabcontent">
            <form class="form-container">
                <h1>Group Chat</h1>

                <div class="row p-1">
                    <div class="scrollable-container">
                        <ul id="groupMessagesList"></ul>
                        <p id="noGroupMessagesText" class="no-messages" style="display: none;">No messages</p>
                    </div>
                </div>

                <label for="groupMessageInput" class="pb-3"><b>Message</b></label>
                <input type="text" placeholder="Type message.." id="groupMessageInput" required></input>


                @if (Context.User.Identity.IsAuthenticated)
                {
                    <input type="button" id="sendGroupButton" value="Send Message" />
                }
                else
                {
                    <p>Please <a asp-area="Identity" asp-controller="Account" asp-action="Login">log in</a> to use chat.</p>
                    <input type="button" id="sendGroupButton" value="Send Message" disabled="disabled" />
                }
                <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
            </form>
        </div>



    </div>

    <script>
        // Open-Close chat window
        function openForm() {
            document.getElementById("chatpopup").style.display = "block";
        }

        function closeForm() {
            document.getElementById("chatpopup").style.display = "none";
        }

        // Switch tabs
        function openChatTab(evt, chatName) {
            var i, tabcontent, tablinks;

            // Hide all chat contents
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Remove the 'active' class from all tabs
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current chat content and add 'active' class to the clicked tab
            document.getElementById(chatName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        // Set the default tab to be opened when the chat popup is first shown
        document.getElementById("defaultTab").click();

    </script>
    <script>
        var isAuthenticated = @User.Identity.IsAuthenticated.ToString().ToLower();
    </script>
    
    <script src="~/js/chat.js"></script>
    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


    <script src="~/js/status.js"></script>
    
</body>
</html>
